
// ---------------------------------------------------------------------
// standard color & other variables
// ---------------------------------------------------------------------

// *****************************************************************************
// *****************************************************************************

$BASIC_FG: #333
$BASIC_BG: white
$BASIC_NEUTRAL: #666

$BG_HEADER: $BASIC_FG
$FG_HEADER: #8daeae
  
$BG_NAV: $BASIC_FG   //  #DBD19E
$FG_NAV: $FG_HEADER
$HV_NAV: $BASIC_BG

$BG_FOOTER: $BG_HEADER
$FG_FOOTER: #89868d

$BG_MAINPAGE: #fff8e8 //  #FCEFC1
$FG_MAINPAGE: $BASIC_FG
$FG_TITLES: #030

$BG_SIDEBAR: $BG_MAINPAGE
$FG_SIDEBAR: $BASIC_FG

$HEADER_LT: $BG_MAINPAGE  // #DDD068
$HEADER_DK: #9C8C59  //  #B5A947

$FG_MENU: $FG_MAINPAGE
$BG_MENU: $BG_MAINPAGE
$HV_MENU: #969792 //  #d8d8d8

$FG_FORMCAPTION:  #040707
$BG_INPUTFORM:    #Fff6C8 // #E2F1FC
$FG_INPUTLABEL:   #687771
$FG_INPUTBOX:     #dCdFb1 // #D2D6D3
$BG_INPUTBOX:     $BASIC_BG
$HV_INPUTFORM:    #E2F1FC
$FG_SUBMIT:       #21363D
$FG_BASICFORM_P:  #4C5B52
  
$BG_FORM_SUBMIT:  #661315
$FG_FORM_SUBMIT:  $BASIC_BG

$FG_INPUTLABEL_DARK: #485751
  
$FG_ANCHOR_LINK:    $BASIC_NEUTRAL
$FG_ANCHOR_VISITED: $BASIC_NEUTRAL
$HV_ANCHOR_LINK:    #000
$BG_ANCHOR_HOVER:   #dcdcdc
// *****************************************************************************


// DIMENSIONS

    // VIEWPORT is the viewing area "above the fold"
$VIEWPORT_WIDTH: 1024px
$VIEWPORT_HEIGHT: 768px

$INNER_MARGIN: 17px

$INNER_CONTENT_AREAS_WIDTH: $VIEWPORT_WIDTH - $INNER_MARGIN - $INNER_MARGIN

$MASTHEAD_HEIGHT: 45px
$MASTHEAD_PHANTOM_HEIGHT: 0px    // presence utilizes background image
$NAV_HEIGHT: 30px

$HEADER_HEIGHT: $MASTHEAD_HEIGHT + $NAV_HEIGHT

$FOOTER_HEIGHT: 45px

$STANDARD_MARGIN: 15px
$STANDARD_PADDING: 2em

$SIDEBAR_INNER_WIDTH: 260px
$SIDEBAR_LEFT_MARGIN: $STANDARD_MARGIN
$SIDEBAR_RIGHT_MARGIN: $STANDARD_MARGIN
$SIDEBAR_WIDTH: $SIDEBAR_INNER_WIDTH + $SIDEBAR_LEFT_MARGIN + $SIDEBAR_RIGHT_MARGIN

$MAIN_LEFT_MARGIN: $STANDARD_MARGIN
$MAIN_RIGHT_MARGIN: $STANDARD_MARGIN
$MAIN_TOP_MARGIN: $STANDARD_MARGIN
$MAIN_BTM_MARGIN: $STANDARD_MARGIN

$MAIN_CONTENT_WIDTH: $VIEWPORT_WIDTH - $MAIN_LEFT_MARGIN - $MAIN_RIGHT_MARGIN - $SIDEBAR_WIDTH
$MAIN_CONTENT_HEIGHT: $VIEWPORT_HEIGHT - $MASTHEAD_PHANTOM_HEIGHT - $HEADER_HEIGHT - $MAIN_TOP_MARGIN - $MAIN_BTM_MARGIN

// *****************************************************************************
// *****************************************************************************
// Other common settings

$FONT_SIZE_NOMINAL_EM: 14px    // this determines what 1em is: ok to use %

// reference Hx used in main content area; sidebar sets the Hx to one size lower 
// main h1 $FONT_SIZE_REF_H1, sidebar h1 $FONT_SIZE_REF_H2, etc

$FONT_SIZE_REF_H1: 1.8em       // main content reference size for h1
$FONT_SIZE_ALT_H1: 1.6em       // main content alternate size for h1
$FONT_SIZE_REF_H2: 1.3em       // main content reference size for h2
$FONT_SIZE_REF_H3: 1.2em       // main content reference size for h3
$FONT_SIZE_REF_H4: 1.1em       // main content reference size for h4
$FONT_SIZE_REF_H5: 1.0em       // main content reference size for h5
$FONT_SIZE_REF_H6: 0.8em       // main content reference size for h6
$FONT_SIZE_REF_H7: 0.7em       // main content reference size for h7



$NAV_TAB_BEVEL: 5px    // radius curvature for menu tab areas

// *****************************************************************************
// *****************************************************************************

// MIX-INS

=BEVEL_CORNER($RADIUS)
  border-radius: $RADIUS
  -moz-border-radius: $RADIUS
  -webkit-border-radius: $RADIUS

=GRADIENT_BOX($LIGHT, $DARK)
  background-image: unquote("-moz-linear-gradient(bottom, #{$LIGHT}, #{$DARK}, #{$LIGHT} )")
  background-image: unquote("-webkit-gradient(linear,left bottom, left top, color-stop(0, #{$LIGHT}), color-stop(0.4, #{$DARK}), color-stop(1, #{$LIGHT})  )")

=GRADIENT_BAR_BOX($LIGHT, $DARK, $BAR)
  background-image: unquote("-moz-linear-gradient(bottom, #{$BAR}, #{$BAR}, #{$DARK}, #{$LIGHT} )")
  background-image: unquote("-webkit-gradient(linear,left bottom, left top, color-stop(0, #{$BAR}), color-stop(0.3, #{$BAR}), color-stop(0.6, #{$DARK}), color-stop(1, #{$LIGHT})  )")

// *****************************************************************************
// *****************************************************************************
body
  margin: 0px
  padding: 0px
  background: #fff url("../images/body_background.png") repeat

#page
  width: 100%
  padding: 0px
  margin: 0px


#body, #masthead, #header_content, #footer_content, #site_bar_content
  width: $INNER_CONTENT_AREAS_WIDTH
  margin: 0px auto
  
#body

#body_content
  background: $BG_MAINPAGE
  min-height: $MAIN_CONTENT_HEIGHT
  margin: 0 
  padding: 0
  
//******************************************************************************
// NOTE: DO NOT SPECIFY float: xxxx for main_content, sidebar_content, body_content_title
// it is dynamically set in shared/content_page.html.haml based on refinery settings
//******************************************************************************
#main_content
  width: $INNER_CONTENT_AREAS_WIDTH - $SIDEBAR_INNER_WIDTH - $STANDARD_MARGIN * 4
  
#sidebar_content
  width: $SIDEBAR_INNER_WIDTH + $STANDARD_MARGIN * 2
  
#body_content_title
  width: $INNER_CONTENT_AREAS_WIDTH - $SIDEBAR_INNER_WIDTH - $STANDARD_MARGIN * 4
  padding: 0 $STANDARD_PADDING
    
//******************************************************************************
// *****************************************************************************

#body_content_left
  margin: 0
  padding: 0 $STANDARD_PADDING

#body_content_right
  margin: 0
  padding: 0 $STANDARD_PADDING
  img
    border: 3px solid $HV_MENU

// *****************************************************************************
// *****************************************************************************
.sidebar_box
  margin: $STANDARD_MARGIN
  padding: 2em 0
  // border: 2px solid $FG_TITLES
  
// *****************************************************************************
// *****************************************************************************
#footer
  height: $FOOTER_HEIGHT
  background: $BG_FOOTER  // url("../images/footer_background.png") repeat-x
  
#footer_inner_content
  p
    padding: 0.5em 0px
    text-align: right
  img
    float: right
    margin-top: -1em
    margin-left: 0.5em
    margin-right: 0.5em

#footer_content_left
  float: left
  width: 49%

#footer_content_right
  float: right
  width: 49%

// *****************************************************************************
// *****************************************************************************

#masthead
  height: $MASTHEAD_HEIGHT
  background: url("../images/masthead.png") 2em 0.5em no-repeat

#header
  +GRADIENT_BAR_BOX($HEADER_LT, $HEADER_DK, $BG_NAV)

#header_content
  //background: $BG_HEADER // url('../images/header_background.png') repeat-x
  //background: $BG_NAV
  height: $NAV_HEIGHT

#nav_search_box
  float: right
  width: $SIDEBAR_INNER_WIDTH
  line-height: 4em
  color:  $FG_HEADER

#header_inner_content
  float: right
  h1
    margin: 0px
    color: $BG_MAINPAGE
    font-size: 1.5em
    font-weight: normal
    text-decoration: none
    a
      color: $BG_MAINPAGE
      font-size: 1.5em
      font-weight: normal
      text-decoration: none
  #menu
    margin: 0px
    padding: 0px

// *****************************************************************************
// *****************************************************************************
#language_switcher
  float: right
  padding-top: 15px

// *****************************************************************************
// *****************************************************************************
#menu
  ul
    margin: 0
    padding: 0
  li, > a, div
    float: left
    list-style: none
    position: relative
  a, li:hover ul li a, a:hover nav a
    color: $HV_MENU
    display: block
    padding: 8px 15px
    text-decoration: none
    cursor: pointer
    font-weight: bold
  li
    &.selected a, &:hover a, a:hover, ul li a:hover
      color: $FG_MENU
      background: $BG_MENU
      +BEVEL_CORNER($NAV_TAB_BEVEL)
  div.selected a
    color: $FG_MENU
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  a      
    &.selected, &:hover
      color: $FG_MENU
      background: $BG_MENU
      +BEVEL_CORNER($NAV_TAB_BEVEL)
  div:hover > a
    color: $FG_MENU
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  li ul, nav
    position: absolute
    left: -99999px
    padding: 0px
    margin: 0px
    min-width: 140px
    max-width: 300px
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  li ul li, nav a
    float: left
  li:hover ul, div:hover nav
    left: auto

// *****************************************************************************
// *****************************************************************************
.inquiries
  .field input
    border: 1px solid #75766f
    margin-left: 0px
  textarea
    border: 1px solid #75766f
    margin-left: 0px
    width: 375px

// *****************************************************************************
// below is taken from refinery formatting.css, which gardenia depreciated
// *****************************************************************************

body, input, textarea, select, p, li, blockquote
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 14px

#body_content_left *, #body_content_right *, .page_part_body, .page_part_side_body
  p
    color: $FG_MAINPAGE

#body_content_left p, #body_content_right p, .page_part_body p, .page_part_side_body p
  margin: 0 0 $STANDARD_MARGIN 0

ul, li
  -webkit-padding-start: 0
  margin 0
  padding 0
  list-style: none inside

h1, h2, h3, h4
  color: $FG_TITLES
  letter-spacing: 0em
  font-weight: lighter
  line-height: 0.8em

h1
  font-size: $FONT_SIZE_REF_H1

h2
  font-size: 1.5em

h3
  font-size: $FONT_SIZE_REF_H3
    
h4
  font-size: $FONT_SIZE_REF_H4
    
a
  color: $FG_ANCHOR_LINK
  text-decoration: none
  cursor: pointer
  
  &:hover
    color: $HV_ANCHOR_LINK
    background: $BG_ANCHOR_HOVER
    
  &:visited
    color: $FG_ANCHOR_VISITED

#footer_content *
  color: $FG_FOOTER
  font-size: 0.9em

img.image-align-left
  float: left
  padding: 0 0.5em 0.5em 0  

img.image-align-right
  float: right
  padding: 0 0 0.5em 0.5em

#body_content_right
  line-height: 1em
  h1
    font-size: $FONT_SIZE_REF_H2
    a
      font-size: $FONT_SIZE_REF_H2
  
  h2
    font-size: $FONT_SIZE_REF_H3
    a
      font-size: $FONT_SIZE_REF_H3
  
  h3
    font-size: $FONT_SIZE_REF_H4
      
  h4
    font-size: $FONT_SIZE_REF_H5
    
// *******************************************************************
  // GALLERIES
// *******************************************************************

#galleries, ul#galleries
  -webkit-padding-start: 0
  margin 0
  padding 0
  list-style: none inside
  a
    font-size: $FONT_SIZE_ALT_H1

#body_content_right
  #galleries, ul#galleries
    -webkit-padding-start: 0
    margin 0
    padding 0
    list-style: none inside
    a
      font-size: $FONT_SIZE_REF_H4
  

#gallery_display, ul#gallery_display
  -webkit-padding-start: 0
  margin 0
  padding 0
  list-style: none

.thumbnails
  dl 
    float: left
    text-align: center
    font-size: small

  dt, dd 
    width: 120px
    float: left

  dt 
    margin-bottom: 4em  
    // vertical space between the images

  dd 
    text-align: center
    margin: 105px 0 0 -120px

  img 
    vertical-align: bottom
    border: 0

// *****************************************************************************
// *****************************************************************************
section:first-child
  padding-top: $STANDARD_PADDING / 2
  
article
  padding: 0
  //border: 1px solid #ddd
  margin-bottom: $STANDARD_PADDING
    
  header
    margin-bottom: $STANDARD_PADDING / 2
    padding: 0
    border-bottom: 1px solid #bbb
    
    h1
      margin: 0
      padding: 0
      font-size: $FONT_SIZE_ALT_H1
      line-height: 1em
        
      a
        text-decoration: none
    
    details
      margin: 0
      margin-top: 1em  
      padding: 0
      font-size: 0.7em
      font-style: normal
      letter-spacing: 1px
      text-transform: uppercase

#comments
  p
    font-size: 0.9em
    font-style: italic
  h2
    font-size: $FONT_SIZE_REF_H3
  article
    header
      margin-bottom: 0.5em
        
      details
        margin-top: 0em  

// *****************************************************************************
// *****************************************************************************

.clearfix:after
  content: "&nbsp"
  margin-bottom: 0px
  display: block
  height: 0
  clear: both
  visibility: hidden

// *****************************************************************************
// *****************************************************************************
.inquiries, .comment_submission
  margin: 0 auto
  width: 80%
  
fieldset
  &.modal-fieldset
    padding: 0.5em
    margin-bottom: 0.5em
    border:    1px solid $FG_INPUTBOX
    background:       $BG_INPUTFORM

  &.wizard-fieldset
    margin: 0.5em 0
    border: none
    background:  $BG_INPUTBOX

  h3
    font-weight: normal
    font-size: $FONT_SIZE_REF_H3
    color:    $FG_FORMCAPTION
    text-transform: uppercase

.basic-form
  form
    margin: 0
    padding: 0
    float: none
    display: block

  label
    color:       $FG_INPUTLABEL
    font-size: 0.7em
    font-weight: bold
    text-transform: uppercase
    display: block

    &:hover
      background:   $HV_INPUTFORM
      cursor: help

  br
    display: none

  input,textarea
    margin: 0px 0 0.5em 0
    display: block
    line-height: 1.5em
    width: 98%
    border:    solid 1px $FG_INPUTBOX
    font-size: medium
    font-weight: normal
    color:       $FG_FORMCAPTION

  input:hover
    background:  $HV_INPUTFORM

  p
    padding: 0
    font-style: italic
    font-size: small
    float: right
    color: $FG_BASICFORM_P

  a
    display: inline
    font-size: small

.modal-form 
  a
    padding: 0
  h3
    line-height: 2em

.nonmodal-form 
  a
    padding: 0
  h3
    line-height: 2em

.form-lines
  label
    display: inline-block
    width: 20em
    padding-right: 1em
  input
    display: inline
    font-size: 0.9em
    line-height: 1em
    width: auto
  br
    display: block

.no-width
  label
    width: auto
    
input
  &.submit
    display: block
    cursor: pointer
    text-align: center
    font-weight: bold
    font-size: small
    text-transform: uppercase
    width: auto

  &.modal-submit
    margin-left: 80px
    margin-top: 10px
    padding: 5px 15px
    color:       $FG_SUBMIT
    background:  $BG_INPUTBOX
    border:     2px solid $FG_INPUTBOX
    +BEVEL_CORNER(20px)

  &.submit-rightmost
    margin-left: auto
    margin-right: 0px

  &.submit:hover
    color:       $FG_INPUTLABEL
    background:  $HV_INPUTFORM

input[type="hidden"]
  display: none

#lefthand-fields
  width: 48%
  float: left

#righthand-fields
  width: 48%
  float: right
