// ASSUMPTION: baseline_reset.css resets whatever browsers css settings

// ---------------------------------------------------------------------
// standard color & other variables
// ---------------------------------------------------------------------
$BASIC_FG: black
$BASIC_BG: white

$FG_ERROR: #c6130a
$FG_ERROR_SHADOW: #620d10

$BG_HEADER: $BASIC_FG
$FG_HEADER: #8daeae
$HV_HEADER: $BASIC_BG

$BG_FOOTER: $BG_HEADER
$FG_FOOTER: #49466d

$BG_CENTRALBOX: #0f1d23
$FG_CENTRALBOX: #f7f8f8
$FG_CENTRALBOX_BORDER: #9f9f9f

$BG_MAINPAGE: #dfdfdf
$FG_MAINPAGE: $BG_CENTRALBOX

// DIMENSIONS

$CENTRAL_WIDTH: 740px
$ASIDE_WIDTH: 215px
$HORIZONTAL_MARGIN: 7px
$CONTAINER_WIDTH: $CENTRAL_WIDTH + $ASIDE_WIDTH + $HORIZONTAL_MARGIN
$CONTAINER_WIDTH_PDF: 185mm
$PAGE_HEIGHT: 225mm

$CENTRAL_HEIGHT: 335px
$CENTRAL_WORK_HEIGHT: 450px

$SPLASH_HEIGHT: $CENTRAL_WORK_HEIGHT - 20
$SPLASH_WIDTH: $CENTRAL_WIDTH - 30

$HEADER_HEIGHT: 35px

// MIX-INS

=BEVEL_CORNER($RADIUS)
  -moz-border-radius: $RADIUS
  -webkit-border-radius: $RADIUS

=GRADIENT_BOX($LIGHT, $DARK)
  background-image: unquote("-moz-linear-gradient(bottom, #{$LIGHT}, #{$DARK}, #{$LIGHT} )")
  background-image: unquote("-webkit-gradient(linear,left bottom, left top, color-stop(0, #{$LIGHT}), color-stop(0.4, #{$DARK}), color-stop(1, #{$LIGHT})  )")

html

body
  margin: 0px
  padding: 0px

#body_content
  margin-top: 36px

#body_content_left
  float: left
  width: 574px

#body_content_right
  float: right
  width: 396px
  img
    border: 3px solid #c7c7c7

#page
  width: 100%
  padding: 0px
  margin: 0px

#body
  min-height: 430px
  width: 990px
  margin: 0px auto

#header_content, #footer_content, #site_bar_content
  width: 990px
  margin: 0px auto

#header
  /* background: url('../images/header_background.png') repeat-x;
  background: black

#header_content
  position: relative
  height: 65px
  background: url("../images/header_logo.png") 0px 15px no-repeat
  h1
    color: #feffff
    font-size: 24px
    font-weight: normal
    left: 0px
    text-decoration: none
    a
      color: #feffff
      font-size: 24px
      font-weight: normal
      left: 0px
      text-decoration: none
    position: absolute
    bottom: 30px
    margin: 0px
  #menu
    position: absolute
    bottom: 20px
    margin: 0px
    right: 0px
    padding: 0px

#language_switcher
  float: right
  padding-top: 15px

#menu
  li, > a, div
    float: left
    list-style: none
    position: relative
  a, li:hover ul li a, a:hover nav a
    color: #969792
    display: block
    padding: 10px 18px
    text-decoration: none
    cursor: pointer
    font-weight: bold
  li
    &.selected a, &:hover a, a:hover, ul li a:hover
      color: #32322b
      background: #d8d8d8
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
  div.selected a
    color: #32322b
    background: #d8d8d8
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
  a
    &.selected, &:hover
      color: #32322b
      background: #d8d8d8
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
  div:hover > a
    color: #32322b
    background: #d8d8d8
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
  li ul, nav
    position: absolute
    left: -99999px
    padding: 0px
    margin: 0px
    min-width: 140px
    max-width: 300px
    background: #d8d8d8
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
  li ul li, nav a
    float: left
  li:hover ul, div:hover nav
    left: auto

#footer
  background: #000 url("../images/footer_background.png") repeat-x
  
#footer_content
  height: 45px
  background: url("../images/tas_bigger-35.png") 950px 5px no-repeat
  p
    padding: 15px 50px
    text-align: right

.inquiries
  .field input
    border: 1px solid #75766f
    margin-left: 0px
  textarea
    border: 1px solid #75766f
    margin-left: 0px
    width: 375px
