
// ---------------------------------------------------------------------
// standard color & other variables
// ---------------------------------------------------------------------

// *****************************************************************************
// *****************************************************************************

$BASIC_FG: #333
$BASIC_BG: #FDF5E6
$BASIC_NEUTRAL: #8FBC8F

$BG_HEADER: #2F4F4F
$FG_HEADER: #F0FFF0
  
$BG_NAV: $BG_HEADER   //  #DBD19E
$FG_NAV: $FG_HEADER
$HV_NAV: $BASIC_BG

$BG_FOOTER: $BG_HEADER
$FG_FOOTER: #2F4F4F

$BG_MAINPAGE: #FFEFD5 //  #FCEFC1
$FG_MAINPAGE: $BASIC_FG
$FG_TITLES: #066 

$BG_SIDEBAR: #F0FFF0
$FG_SIDEBAR: $BASIC_FG

$HEADER_LT: #2F4F4F  // #DDD068
$HEADER_DK: #2F4F4F  //  #B5A947

$FG_MENU: #066
$BG_MENU: $BASIC_BG
$HV_MENU: #F0FFF0 //  #d8d8d8

$FG_FORMCAPTION:  #2F4F4F
$BG_INPUTFORM:    #FFEBCD // #E2F1FC
$FG_INPUTLABEL:   #2F4F4F
$FG_INPUTBOX:     #DCDCDC
$BG_INPUTBOX:     $BG_HEADER
$HV_INPUTFORM:    #FFE4C4
$FG_SUBMIT:       $HV_MENU
$FG_BASICFORM_P:  $BG_HEADER
  
$BG_FORM_SUBMIT:  #2F4F4F
$FG_FORM_SUBMIT:  $BASIC_BG

$FG_INPUTLABEL_DARK: #485751
  
$FG_ANCHOR_LINK:    #066
$FG_ANCHOR_VISITED: #66CDAA
$HV_ANCHOR_LINK:    #20B2AA
$BG_ANCHOR_HOVER:   #DCDCDC
// *****************************************************************************

// DIMENSIONS

// VIEWPORT is the viewing area "above the fold"
$VIEWPORT_WIDTH: 990px
$VIEWPORT_HEIGHT: 768px

// these next two are unused
$INNER_MARGIN: 0px
$INNER_CONTENT_AREAS_WIDTH: $VIEWPORT_WIDTH - $INNER_MARGIN - $INNER_MARGIN

$MASTHEAD_HEIGHT: 114px
$MASTHEAD_PHANTOM_HEIGHT: 24px    // >0 reveals background image
$NAV_HEIGHT: 28px

$HEADER_HEIGHT: $MASTHEAD_HEIGHT + $NAV_HEIGHT

$FOOTER_HEIGHT: 65px

$STANDARD_MARGIN: 36px    // unused

$STANDARD_PADDING: 30px

$SIDEBAR_INNER_WIDTH: 260px
$SIDEBAR_LEFT_MARGIN: 0
$SIDEBAR_RIGHT_MARGIN: 0

$SIDEBAR_WIDTH: $SIDEBAR_INNER_WIDTH + $STANDARD_PADDING + $STANDARD_PADDING/2

// next 4 are 
$MAIN_LEFT_MARGIN: 0
$MAIN_RIGHT_MARGIN: 0
$MAIN_TOP_MARGIN: 0
$MAIN_BTM_MARGIN: 0

$MAIN_CONTENT_INNER_WIDTH: 615px
$MAIN_CONTENT_WIDTH: $MAIN_CONTENT_INNER_WIDTH + $STANDARD_PADDING + $STANDARD_PADDING
$MAIN_TITLE_WIDTH: $MAIN_CONTENT_INNER_WIDTH

$MAIN_CONTENT_HEIGHT: $VIEWPORT_HEIGHT - $MASTHEAD_PHANTOM_HEIGHT - $HEADER_HEIGHT

$INQUIRY_TEXT_WIDTH:  425px

// *****************************************************************************
// *****************************************************************************
// Other common settings

$FONT_SIZE_NOMINAL_EM: 14px    // this determines what 1em is: ok to use %

// reference Hx used in main content area; sidebar sets the Hx to one size lower 
// main h1 $FONT_SIZE_REF_H1, sidebar h1 $FONT_SIZE_REF_H2, etc

$FONT_SIZE_REF_H1: 1.8em       // main content reference size for h1
$FONT_SIZE_ALT_H1: 1.6em       // main content alternate size for h1
$FONT_SIZE_REF_H2: 1.3em       // main content reference size for h2
$FONT_SIZE_REF_H3: 1.2em       // main content reference size for h3
$FONT_SIZE_REF_H4: 1.1em       // main content reference size for h4
$FONT_SIZE_REF_H5: 1.0em       // main content reference size for h5
$FONT_SIZE_REF_H6: 0.8em       // main content reference size for h6
$FONT_SIZE_REF_H7: 0.7em       // main content reference size for h7

$MENU_MIN_WIDTH: 140px
$MENU_MAX_WIDTH: 300px
$MENU_HV_PADDING_TB: 6px
$MENU_HV_PADDING_LR: 12px

$NAV_TAB_BEVEL: 0px    // radius curvature for menu tab areas

// *****************************************************************************
// *****************************************************************************

// MIX-INS

=BEVEL_CORNER($RADIUS)
  border-radius: $RADIUS
  -moz-border-radius: $RADIUS
  -webkit-border-radius: $RADIUS

=GRADIENT_BOX($LIGHT, $DARK)
  background-image: unquote("-moz-linear-gradient(bottom, #{$LIGHT}, #{$DARK}, #{$LIGHT} )")
  background-image: unquote("-webkit-gradient(linear,left bottom, left top, color-stop(0, #{$LIGHT}), color-stop(0.4, #{$DARK}), color-stop(1, #{$LIGHT})  )")

=GRADIENT_BAR_BOX($LIGHT, $DARK, $BAR)
  background-image: unquote("-moz-linear-gradient(bottom, #{$BAR}, #{$BAR}, #{$DARK}, #{$LIGHT} )")
  background-image: unquote("-webkit-gradient(linear,left bottom, left top, color-stop(0, #{$BAR}), color-stop(0.3, #{$BAR}), color-stop(0.6, #{$DARK}), color-stop(1, #{$LIGHT})  )")

// *****************************************************************************
// below from refinery formatting.css, which gardenia no longer references
// many of these are needed to override browser agent default stylesheets
// NOTE: THIS IS ALL THE GLOBAL BASIC HTML ELEMENT FORMATTING ..
//       >> PUT SPECIFIC OVERRIDES (to ids/classes/sections) AFTERWARDS
// *****************************************************************************

body, input, textarea, select, p, li, blockquote
  font-family: Verdana, Arial, Helvetica, sans-serif
  font-size: 14px

ul, li
  -webkit-padding-start: 0
  margin: 0
  padding: 0
  list-style: none inside
  
p
  margin: 0
  padding: 0.5em 0

h1, h2, h3, h4
  color: $FG_TITLES
  letter-spacing: 0.1em
  font-weight: lighter
  line-height: 0.8em

h1
  font-size: $FONT_SIZE_REF_H1

h2
  font-size: 1.5em

h3
  font-size: $FONT_SIZE_REF_H3
    
h4
  font-size: $FONT_SIZE_REF_H4
    
a
  color: $FG_ANCHOR_LINK
  text-decoration: none
  cursor: pointer
  
  &:hover
    color: $HV_ANCHOR_LINK
    background: $BG_ANCHOR_HOVER
    
  &:visited
    color: $FG_ANCHOR_VISITED

// *****************************************************************************
// *****************************************************************************
body
  margin: 0px
  padding: 0px
  background: $HV_INPUTFORM  url("../images/body_background.png") repeat

#page
  width: 100%
  padding: 0px
  margin: 0px

#body, #masthead, #header_content, #footer_content, #site_bar_content
  width: $INNER_CONTENT_AREAS_WIDTH
  margin: 0px auto

#body_content
  background: $BG_MAINPAGE url("../images/body_content_bkg.gif") repeat
  border-bottom: 1px solid #2F4F4F
  min-height: $MAIN_CONTENT_HEIGHT
  padding: $STANDARD_PADDING 0
  
//******************************************************************************
// NOTE: DO NOT SPECIFY float: xxxx for main_content, sidebar_content, body_content_title
// it is dynamically set in shared/content_page.html.haml based on refinery settings
//******************************************************************************
#main_content
  width: $MAIN_CONTENT_WIDTH
  padding: 0

#sidebar_content
  width: $SIDEBAR_INNER_WIDTH
  padding: 0 $STANDARD_PADDING/2 0 $STANDARD_PADDING

#body_content_title
  width: $MAIN_TITLE_WIDTH
  padding: 0 $STANDARD_PADDING
  
//******************************************************************************
// *****************************************************************************

#body_content_left
  margin: 0px
  padding: 0 $STANDARD_PADDING

#body_content_right
  margin: 0px
  
// *****************************************************************************
// *****************************************************************************
#footer
  height: $FOOTER_HEIGHT
  background: $BG_FOOTER   url("../images/footer_background.png") no-repeat
  
#footer_inner_content
  p
    padding: 20px 20px
    text-align: left
  
  img
    float: right
    margin-top: -1em
    margin-left: 0.5em
    margin-right: 0.5em

// *****************************************************************************
// *****************************************************************************

#header
  +GRADIENT_BAR_BOX($HEADER_LT, $HEADER_DK, $BG_NAV)
  margin-top: $MASTHEAD_PHANTOM_HEIGHT

#header_content
  //background: $BG_HEADER // url('../images/header_background.png') repeat-x
  background: $BG_NAV
  height: $NAV_HEIGHT

#masthead
  height: $MASTHEAD_HEIGHT
  background: url("../images/masthead.jpg") no-repeat
  border-bottom: 1px solid #2F4F4F

#nav_search_box
  float: right
  width: $SIDEBAR_INNER_WIDTH
  line-height: 4em
  color:  $FG_HEADER

#header_inner_content
  float: left
  h1
    margin: 0px
    color: $BG_MAINPAGE
    font-size: 1.5em
    font-weight: normal
    text-decoration: none
    a
      color: $BG_MAINPAGE
      font-size: 1.5em
      font-weight: normal
      text-decoration: none
  #menu
    margin: 0px
    padding: 0px

// *****************************************************************************
// *****************************************************************************
#language_switcher
  float: right
  padding-top: 15px

// *****************************************************************************
// *****************************************************************************

#menu
  ul
    margin: 0
    padding: 0

  li, > a, div
    float: left
    list-style: none
    position: relative

  a, li:hover ul li a, a:hover nav a
    color: $HV_MENU
    display: block
    padding: $MENU_HV_PADDING_TB $MENU_HV_PADDING_LR
    text-decoration: none
    cursor: pointer
    font-weight: normal
    font-size: 0.85em
    letter-spacing: 0.1em
    border-right: 1px solid #2F4F4F

  li
    &.selected a, &:hover a, a:hover, ul li a:hover
      color: $FG_MENU
      background: $BG_MENU
      +BEVEL_CORNER($NAV_TAB_BEVEL)
      
  div.selected a
    color: $FG_MENU
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  a      
    &.selected, &:hover
      color: $FG_MENU
      background: $BG_MENU
      +BEVEL_CORNER($NAV_TAB_BEVEL)
  div:hover > a
    color: $FG_MENU
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  li ul, nav
    position: absolute
    left: -99999px
    padding: 0px
    margin: 0px
    min-width: $MENU_MIN_WIDTH
    max-width: $MENU_MAX_WIDTH
    background: $BG_MENU
    +BEVEL_CORNER($NAV_TAB_BEVEL)
  li ul li, nav a
    float: left
  li:hover ul, div:hover nav
    left: auto
    
// *****************************************************************************
// *****************************************************************************
.inquiries
  .field input
    border: 1px solid #696969
    margin-left: 0px
  textarea
    border: 1px solid #696969
    margin-left: 0px
    width: $INQUIRY_TEXT_WIDTH

// *******************************************************************
  // GALLERIES
// *******************************************************************

#galleries, ul#galleries
  -webkit-padding-start: 0
  margin: 0
  padding: 0
  list-style: none inside
  a
    font-size: $FONT_SIZE_ALT_H1

#body_content_right
  #galleries, ul#galleries
    -webkit-padding-start: 0
    margin: 0
    padding: 0
    list-style: none inside
    a
      font-size: $FONT_SIZE_REF_H4
  

#gallery_display, ul#gallery_display
  -webkit-padding-start: 0
  margin: 0
  padding: 0
  list-style: none

.thumbnails
  dl 
    float: left
    text-align: center
    font-size: small

  dt, dd 
    width: 120px
    float: left

  dt 
    margin-bottom: 4em  
    // vertical space between the images

  dd 
    text-align: center
    margin: 105px 0 0 -120px

  img 
    vertical-align: bottom
    border: 0

// *****************************************************************************
  // Gardenia Blog & News
// *****************************************************************************
section:first-child
  margin-top: 10px

article
  padding: 0
  //border: 1px solid #ddd
  margin-top: 10px

  header
    margin-bottom: $STANDARD_PADDING / 2
    padding: 0
    border-bottom: 1px solid #bbb
    
    h1, h3
      margin: 0
      padding: 0
      font-size: $FONT_SIZE_ALT_H1
      line-height: 1.5em
        
      a
        text-decoration: none
        
    details
      margin: 0
      margin-top: 1.5em  
      padding: 0
      font-size: 0.7em
      font-style: normal
      letter-spacing: 0.2em
      text-transform: uppercase
      
      share
        margin-top: -5px
        float: right

#comments
  p
    font-size: 0.9em
    font-style: italic
  h2
    font-size: $FONT_SIZE_REF_H3
  article
    header
      margin-bottom: 0.5em
        
      details
        margin-top: 0em

// *****************************************************************************
// *****************************************************************************

.clearfix:after
  content: "&nbsp"
  margin-bottom: 0px
  display: block
  height: 0
  clear: both
  visibility: hidden

// *****************************************************************************
// *****************************************************************************
.inquiries, .comment_submission
  margin: 0 auto
  width: 90%
  
fieldset
  &.modal-fieldset
    padding: 0.5em
    margin-bottom: 0.5em
    border:    1px solid $FG_INPUTBOX
    background:       $BG_INPUTFORM

  &.wizard-fieldset
    margin: 0.5em 0
    border: none
    background:  $BG_INPUTBOX

  h3
    font-weight: normal
    font-size: $FONT_SIZE_REF_H3
    color:    $FG_FORMCAPTION
    text-transform: uppercase

.basic-form
  form
    margin: 0
    padding: 0
    float: none
    display: block

  label
    color:       $FG_INPUTLABEL
    font-size: 0.7em
    font-weight: normal
    text-transform: uppercase
    display: block

    &:hover
      background:   $HV_INPUTFORM
      cursor: help

  br
    display: none

  input,textarea
    margin: 0px 0 0.5em 0
    display: block
    line-height: 1.5em
    width: 98%
    border:    solid 1px $FG_INPUTBOX
    font-size: medium
    font-weight: normal
    color:       $FG_FORMCAPTION

  input:hover
    background:  $HV_INPUTFORM

  p
    padding: 0
    font-style: italic
    font-size: small
    float: right
    color: $FG_BASICFORM_P

  a
    display: inline
    font-size: small

.modal-form 
  a
    padding: 0
  h3
    line-height: 2em

.nonmodal-form 
  a
    padding: 0
  h3
    line-height: 2em

.form-lines
  label
    display: inline-block
    width: 20em
    padding-right: 1em
  input
    display: inline
    font-size: 0.8em
    line-height: 1em
    width: auto
  br
    display: block

.no-width
  label
    width: auto
    
input
  &.submit
    display: block
    cursor: pointer
    text-align: center
    font-weight: normal
    font-size: small
    text-transform: uppercase
    width: auto
    color:       $FG_SUBMIT
    background:  $BG_HEADER 
    border:     2px solid $FG_INPUTBOX
    +BEVEL_CORNER(10px)

  &.modal-submit
    margin-left: 80px
    margin-top: 10px
    padding: 5px 15px
    color:       $FG_SUBMIT
    background:  $BG_HEADER 
    border:     2px solid $FG_INPUTBOX
    +BEVEL_CORNER(10px)

  &.submit-rightmost
    margin-left: auto
    margin-right: 0px

  &.submit:hover
    color:       $FG_INPUTLABEL
    background:  $HV_INPUTFORM

input[type="hidden"]
  display: none

#lefthand-fields
  width: 48%
  float: left

#righthand-fields
  width: 48%
  float: right

// *****************************************************************************
// SPECIFIC FORMATTING OVERRIDES GO HERE
// *****************************************************************************
 
#footer_content *
  color: $FG_FOOTER
  font-size: 0.95em

// *****************************************************************************
// *****************************************************************************

.sidebar_box
  // border: 0px solid $FG_TITLES
  font-size: 0.90em
  line-height: 1.3em
  
  li
    margin-left: 20px
    line-height: 1.4em
   
// *****************************************************************************
// *****************************************************************************

img.image-align-left
  float: left
  padding: 0 1em 1em 0  

img.image-align-right
  float: right
  padding: 0 0 1em 1em

// *****************************************************************************
// *****************************************************************************

#body_content_right 
  p
    font-size: 0.90em
    line-height: 1.4em
  ul
    line-height: 1.3em
    margin-bottom: 1.6em
  li
    margin-left: 12px
  img
    // border: 0px solid $HV_MENU
    
#body_content_left 
  p
    line-height: 1.6em

// *****************************************************************************
// *****************************************************************************

    