body {
  margin: 0px;
  padding: 0px;
  background: white url("../images/gardenia_pattern_clip.png") repeat; }

#page {
  width: 100%;
  padding: 0px;
  margin: 0px; }

#body, #header_content, #footer_content, #site_bar_content {
  width: 990px;
  margin: 0px auto; }

#body_content {
  background: #fff6c8;
  min-height: 1206px;
  margin: 0;
  padding: 0; }

#main_content {
  width: 670px; }

#sidebar_content {
  width: 290px; }

#body_content_title {
  width: 670px; }
  #body_content_title h1 {
    padding: 0 15px; }

#body_content_left {
  margin: 0;
  padding: 15px; }

#body_content_right {
  margin: 0;
  padding: 15px; }
  #body_content_right img {
    border: 3px solid #969792; }

.sidebar_box {
  margin: 15px;
  padding: 1em;
  min-height: 4em;
  border: 2px solid #052e02; }

#footer {
  position: fixed;
  bottom: 0px;
  height: 45px;
  background: black; }

#footer_inner_content p {
  padding: 0.5em 0px;
  text-align: right; }
#footer_inner_content img {
  float: right;
  margin-top: -1em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

#footer_content_left {
  float: left;
  width: 49%; }

#footer_content_right {
  float: right;
  width: 49%; }

#masthead {
  height: 45px;
  background: url("../images/masthead.png") 2em 0.5em no-repeat; }

#header {
  background-image: -moz-linear-gradient(bottom, #fff6c8, #9c8c59, #fff6c8 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #fff6c8), color-stop(0.4, #9c8c59), color-stop(1, #fff6c8)  ); }

#header_content {
  background: black;
  position: relative;
  height: 45px; }

#nav_search_box {
  float: right;
  width: 260px;
  line-height: 4em;
  color: #8daeae; }

#header_inner_content {
  float: right; }
  #header_inner_content h1 {
    margin: 0px;
    color: #fff6c8;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none; }
    #header_inner_content h1 a {
      color: #fff6c8;
      font-size: 2em;
      font-weight: normal;
      text-decoration: none; }
  #header_inner_content #menu {
    margin: 0px;
    padding: 0px; }

#language_switcher {
  float: right;
  padding-top: 15px; }

#menu li, #menu > a, #menu div {
  float: left;
  list-style: none;
  position: relative; }
#menu a, #menu li:hover ul li a, #menu a:hover nav a {
  color: #969792;
  display: block;
  padding: 10px 18px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover {
  color: black;
  background: #fff6c8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu div.selected a {
  color: black;
  background: #fff6c8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu a.selected, #menu a:hover {
  color: black;
  background: #fff6c8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu div:hover > a {
  color: black;
  background: #fff6c8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu li ul, #menu nav {
  position: absolute;
  left: -99999px;
  padding: 0px;
  margin: 0px;
  min-width: 140px;
  max-width: 300px;
  background: #fff6c8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu li ul li, #menu nav a {
  float: left; }
#menu li:hover ul, #menu div:hover nav {
  left: auto; }

.inquiries .field input {
  border: 1px solid #75766f;
  margin-left: 0px; }
.inquiries textarea {
  border: 1px solid #75766f;
  margin-left: 0px;
  width: 375px; }

body, input, textarea, select, p, li, blockquote {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px; }

#body_content_left *, #body_content_right *, .page_part_body, .page_part_side_body {
  line-height: 1.5em; }
  #body_content_left * p, #body_content_right * p, .page_part_body p, .page_part_side_body p {
    color: black; }

h1, h2, h3, h4 {
  color: #052e02;
  letter-spacing: -0.1em;
  font-weight: lighter; }

h1, #body_content h1, #body_content_page_title h1 {
  font-size: 2em; }

#body_content_left p, #body_content_right p, .page_part_body p, .page_part_side_body p {
  margin-bottom: 15px; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

#footer_content * {
  color: #89868d;
  font-size: 0.9em; }
