body {
  margin: 0px;
  padding: 0px;
  background: white url("../images/gardenia_pattern_clip.png") repeat; }

#page {
  width: 100%;
  padding: 0px;
  margin: 0px; }

#body, #masthead, #header_content, #footer_content, #site_bar_content {
  width: 990px;
  margin: 0px auto; }

#body_content {
  background: #fff8e8;
  min-height: 663px;
  margin: 0;
  padding: 0; }

#main_content {
  width: 670px; }

#sidebar_content {
  width: 290px; }

#body_content_title {
  width: 670px; }
  #body_content_title h1 {
    padding: 0 15px; }

#body_content_left {
  margin: 0;
  padding: 0; }

#body_content_right {
  margin: 0;
  padding: 0; }
  #body_content_right img {
    border: 3px solid #969792; }

.sidebar_box {
  margin: 15px;
  padding: 0;
  min-height: 4em; }

#footer {
  height: 45px;
  background: black; }

#footer_inner_content p {
  padding: 0.5em 0px;
  text-align: right; }
#footer_inner_content img {
  float: right;
  margin-top: -1em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

#footer_content_left {
  float: left;
  width: 49%; }

#footer_content_right {
  float: right;
  width: 49%; }

#masthead {
  height: 45px;
  background: url("../images/masthead.png") 2em 0.5em no-repeat; }

#header {
  background-image: -moz-linear-gradient(bottom, black, black, #9c8c59, #fff8e8 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, black), color-stop(0.3, black), color-stop(0.6, #9c8c59), color-stop(1, #fff8e8)  ); }

#header_content {
  height: 30px; }

#nav_search_box {
  float: right;
  width: 260px;
  line-height: 4em;
  color: #8daeae; }

#header_inner_content {
  float: right; }
  #header_inner_content h1 {
    margin: 0px;
    color: #fff8e8;
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: none; }
    #header_inner_content h1 a {
      color: #fff8e8;
      font-size: 1.5em;
      font-weight: normal;
      text-decoration: none; }
  #header_inner_content #menu {
    margin: 0px;
    padding: 0px; }

#language_switcher {
  float: right;
  padding-top: 15px; }

#menu ul {
  margin: 0;
  padding: 0; }
#menu li, #menu > a, #menu div {
  float: left;
  list-style: none;
  position: relative; }
#menu a, #menu li:hover ul li a, #menu a:hover nav a {
  color: #969792;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold; }
#menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover {
  color: black;
  background: #fff8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu div.selected a {
  color: black;
  background: #fff8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu a.selected, #menu a:hover {
  color: black;
  background: #fff8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu div:hover > a {
  color: black;
  background: #fff8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu li ul, #menu nav {
  position: absolute;
  left: -99999px;
  padding: 0px;
  margin: 0px;
  min-width: 140px;
  max-width: 300px;
  background: #fff8e8;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
#menu li ul li, #menu nav a {
  float: left; }
#menu li:hover ul, #menu div:hover nav {
  left: auto; }

.inquiries .field input {
  border: 1px solid #75766f;
  margin-left: 0px; }
.inquiries textarea {
  border: 1px solid #75766f;
  margin-left: 0px;
  width: 375px; }

body, input, textarea, select, p, li, blockquote {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px; }

#body_content_left * p, #body_content_right * p, .page_part_body p, .page_part_side_body p {
  color: black; }

#body_content_left p, #body_content_right p, .page_part_body p, .page_part_side_body p {
  margin-bottom: 15px; }

h1, h2, h3, h4 {
  color: #052e02;
  letter-spacing: 0em;
  font-weight: lighter;
  line-height: 0.8em; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

#footer_content * {
  color: #89868d;
  font-size: 0.9em; }

#galleries li {
  list-style: none; }
#galleries a {
  font-size: 1.4em; }

#gallery_display li {
  list-style: none; }

.thumbnails dl {
  float: left;
  text-align: center;
  font-size: small; }
.thumbnails dt, .thumbnails dd {
  width: 120px;
  float: left; }
.thumbnails dt {
  margin-bottom: 4em; }
.thumbnails dd {
  text-align: center;
  margin: 105px 0 0 -120px; }
.thumbnails img {
  vertical-align: bottom;
  border: 0; }

article {
  padding: 0 1em;
  border: 1px solid #dddddd;
  margin-bottom: 2em; }
  article header {
    margin-bottom: 2em;
    padding: 0;
    border-bottom: 1px solid #bbbbbb; }
    article header h1 {
      margin: 0;
      padding: 0;
      font-size: 1.6em;
      line-height: 1em; }
      article header h1 a {
        text-decoration: none; }
    article header details {
      margin: 0;
      padding: 0;
      font-size: 0.6em;
      font-style: normal;
      letter-spacing: 1px;
      text-transform: uppercase; }

.clearfix:after {
  content: "&nbsp";
  margin-bottom: 0px;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.inquiries, .comment_submission {
  margin: 0 auto;
  width: 80%; }

fieldset.modal-fieldset {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #dcdfb1;
  background: #fff6c8; }
fieldset.wizard-fieldset {
  margin: 0.5em 0;
  border: none;
  background: white; }
fieldset h3 {
  font-weight: normal;
  font-size: 18px;
  color: #040707;
  text-transform: uppercase; }

.basic-form form {
  margin: 0;
  padding: 0;
  float: none;
  display: block; }
.basic-form label {
  color: #687771;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block; }
  .basic-form label:hover {
    background: #e2f1fc;
    cursor: help; }
.basic-form br {
  display: none; }
.basic-form input, .basic-form textarea {
  margin: 0px 0 0.5em 0;
  display: block;
  line-height: 1.5em;
  width: 98%;
  border: solid 1px #dcdfb1;
  font-size: medium;
  font-weight: normal;
  color: #040707; }
.basic-form input:hover {
  background: #e2f1fc; }
.basic-form p {
  padding: 0;
  font-style: italic;
  font-size: small;
  float: right;
  color: #4c5b52; }
.basic-form a {
  display: inline;
  font-size: small; }

.modal-form a {
  padding: 0; }
.modal-form h3 {
  line-height: 2em; }

.nonmodal-form a {
  padding: 0; }
.nonmodal-form h3 {
  line-height: 2em; }

.form-lines label {
  display: inline-block;
  width: 20em;
  padding-right: 1em; }
.form-lines input {
  display: inline;
  font-size: 12px;
  line-height: 1em;
  width: auto; }
.form-lines br {
  display: block; }

.no-width label {
  width: auto; }

input.submit {
  display: block;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  width: auto; }
input.modal-submit {
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px 15px;
  color: #21363d;
  background: white;
  border: 2px solid #dcdfb1;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
input.submit-rightmost {
  margin-left: auto;
  margin-right: 0px; }
input.submit:hover {
  color: #687771;
  background: #e2f1fc; }

input[type="hidden"] {
  display: none; }

#lefthand-fields {
  width: 48%;
  float: left; }

#righthand-fields {
  width: 48%;
  float: right; }
