body, input, textarea, select, p, li, blockquote {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px; }

ul, li {
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0.5em 0; }

h1, h2, h3, h4 {
  color: #003300;
  font-family: Trajan Pro, Times Roman, Baskerville, Georgia, serif;
  letter-spacing: 0.1em;
  font-weight: lighter; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

a {
  color: #6b8e23;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #003300;
    background: #f0e68c; }
  a:visited {
    color: #666666; }

body {
  margin: 0px;
  padding: 0px;
  background: #eee8aa url("../images/body_background.png") repeat; }

#page_container {
  width: 100%;
  padding: 0px;
  margin: 0px; }

#page {
  width: 990px;
  padding: 0px;
  margin: 0px auto;
  margin-top: 24px;
  border: 1px solid #003300; }

#body, #masthead, #header_content, #footer_content, #site_bar_content {
  width: 990px;
  margin: 0px auto; }

#body_content {
  background: #eee8aa url("../images/body_content_bkg.jpg") repeat;
  min-height: 493px;
  padding: 30px 0;
  border-top: 1px solid #003300;
  border-bottom: 1px solid #003300; }

#main_content {
  width: 660px;
  padding: 0; }

#sidebar_content {
  width: 260px;
  padding: 0 15px 0 30px; }

#body_content_title {
  width: 600px;
  padding: 0 30px; }

#body_content_left {
  margin: 0px;
  padding: 0 30px; }

#body_content_right {
  margin: 0px; }

#page_image_gallery {
  margin: 0;
  padding: 0;
  width: 100%; }

#footer {
  background-image: -moz-linear-gradient(bottom, #003300, #003300, #003300, #6b8e23 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #003300), color-stop(0.3, #003300), color-stop(0.6, #003300), color-stop(1, #6b8e23)  ); }

#footer_inner_content {
  color: #eee8aa; }
  #footer_inner_content p {
    padding: 10px 20px;
    text-align: left; }
  #footer_inner_content a:hover {
    color: #003300;
    background: #f0e68c; }

#header {
  margin-top: 0px; }

#header_content {
  height: 25px;
  background-image: -moz-linear-gradient(bottom, #003300, #003300, #003300, #6b8e23 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #003300), color-stop(0.3, #003300), color-stop(0.6, #003300), color-stop(1, #6b8e23)  ); }

#masthead {
  height: 225px;
  background: white url("../images/masthead.png") no-repeat; }

#nav_search_box {
  float: right;
  width: 260px;
  line-height: 1em;
  color: white; }

#header_inner_content {
  float: left; }
  #header_inner_content h1 {
    margin: 0px;
    color: #eee8aa;
    font-size: 1.5em;
    font-weight: normal;
    text-decoration: none; }
    #header_inner_content h1 a {
      color: #eee8aa;
      font-size: 1.5em;
      font-weight: normal;
      text-decoration: none; }
  #header_inner_content #menu {
    margin: 0px;
    padding: 0px; }

#language_switcher {
  float: right;
  padding-top: 15px; }

#refinery_menu ul {
  margin: 0;
  padding: 0; }
#refinery_menu li, #refinery_menu > a, #refinery_menu div {
  float: left;
  list-style: none;
  position: relative; }
#refinery_menu a, #refinery_menu li:hover ul li a, #refinery_menu a:hover nav a {
  color: #eee8aa;
  display: block;
  padding: 0px 0px;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  font-size: 0.85em;
  letter-spacing: 0.1em;
  border-right: 1px solid #6b8e23; }
#refinery_menu li.selected a, #refinery_menu li:hover a, #refinery_menu li a:hover, #refinery_menu li ul li a:hover {
  color: #eee8aa;
  background: #eee8aa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
#refinery_menu div.selected a {
  color: #eee8aa;
  background: #eee8aa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
#refinery_menu a.selected, #refinery_menu a:hover {
  color: #eee8aa;
  background: #eee8aa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
#refinery_menu div:hover > a {
  color: #eee8aa;
  background: #eee8aa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
#refinery_menu li ul, #refinery_menu nav {
  position: absolute;
  left: -99999px;
  padding: 0px;
  margin: 0px;
  min-width: 140px;
  max-width: 300px;
  background: #eee8aa;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
#refinery_menu li ul li, #refinery_menu nav a {
  float: left; }
#refinery_menu li:hover ul, #refinery_menu div:hover nav {
  left: auto; }

/*
 *   Horizontal CSS Drop-Down Menu Module
 *   MTV.com CSS Drop-Down Menu Theme
 *   MTV.com Ultimate Linear CSS Drop-Down Menu Theme
 *  
 *   @file		dropdown.css
 *   @package		Dropdown
 *   @version		0.7.1
 *   @type		Transitional
 *   @stacks		597-599
 *   @browsers	Windows: IE6+, Opera7+, Firefox1+
 *  				Mac OS: Safari2+, Firefox2+
 *  
 *   @link		http://www.lwis.net/
 *   @copyright	2006-2008 Live Web Institute. All Rights Reserved.
 *   @copyright	2008 Live Web Institute. All Rights Reserved.
 *   @copyright	2008 Live Web Institute. All Rights Reserved.
 *  
 ** */
ul.dropdown {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 597;
  float: left; }
  ul.dropdown *.dir {
    padding-right: 30px;
    background-image: none;
    background-position: 100% 50%;
    background-repeat: no-repeat; }
  ul.dropdown li, ul.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  ul.dropdown li {
    float: left;
    line-height: 1.1em;
    vertical-align: middle;
    zoom: 1;
    padding: 0;
    background-image: -moz-linear-gradient(bottom, #003300, #003300, #003300, #6b8e23 );
    background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #003300), color-stop(0.3, #003300), color-stop(0.6, #003300), color-stop(1, #6b8e23)  );
    color: #eee8aa; }
    ul.dropdown li.hover, ul.dropdown li:hover {
      position: relative;
      z-index: 599;
      cursor: default; }
    ul.dropdown li:hover > ul {
      visibility: visible; }
    ul.dropdown li a, ul.dropdown li *.dir {
      border-style: solid;
      border-width: 1px;
      border-color: #404040 #1a1a1a #1a1a1a #505050; }
    ul.dropdown li a.selected {
      background: #eee8aa;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      color: #6b8e23; }
    ul.dropdown li:hover > *.dir {
      background-color: #eee8aa;
      color: #eee8aa; }
    ul.dropdown li:hover > a.dir:hover {
      background-color: #6b8e23;
      color: #fff8dc; }
  ul.dropdown ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    z-index: 598;
    left: 0;
    right: auto;
    width: 150px;
    margin-top: -1px;
    border-top: 1px solid #1a1a1a;
    border-left: solid 1px #6b8e23; }
    ul.dropdown ul li:hover > *.dir {
      background-color: #6b8e23;
      background-image: url(../images/comnav-arrowover.png);
      color: #eee8aa; }
    ul.dropdown ul li:hover > a.dir:hover {
      background-image: url(../images/comnav-arrowon.png);
      color: #fff8dc; }
    ul.dropdown ul li {
      float: none;
      background-color: #6b8e23; }
      ul.dropdown ul li a, ul.dropdown ul li *.dir {
        border-color: #4a4a4a #242424 #242424;
        border-left: none; }
    ul.dropdown ul ul {
      right: auto;
      margin-top: 0;
      border-top: none;
      border-left: none;
      font-weight: normal;
      top: 1px;
      left: 99%; }
      ul.dropdown ul ul li {
        background-color: #6b8e23; }
        ul.dropdown ul ul li a, ul.dropdown ul ul li *.dir {
          border-color: #6b8e23 #6b8e23 #6b8e23; }
        ul.dropdown ul ul li:hover > *.dir {
          background-color: #6b8e23;
          background-image: url(../images/comnav-arrowover2.png);
          color: #fff8dc; }
      ul.dropdown ul ul ul li {
        background-color: #6b8e23; }
      ul.dropdown ul ul ul li a, ul.dropdown ul ul ul *.dir {
        border-color: #767676 #404040 #404040; }
    ul.dropdown ul *.dir {
      padding: 8px 30px 8px 8px;
      background-image: url(../images/nav-arrow-right.png);
      background-position: 100% 50%;
      background-repeat: no-repeat; }
    ul.dropdown ul ul *.dir {
      background-image: url(../images/nav-arrow-right2.png); }
    ul.dropdown ul a {
      width: 133px; }
      ul.dropdown ul a.dir {
        width: 111px; }
      ul.dropdown ul a.dir:hover {
        /* proposal */
        background-color: #6b8e23;
        background-image: url(../images/comnav-arrowon.png);
        color: #fff8dc; }
    ul.dropdown ul a, ul.dropdown ul span {
      /* POI, proposal: override abstract a, span */
      padding: 8px; }
  ul.dropdown a:link, ul.dropdown a:visited {
    color: #eee8aa;
    text-decoration: none; }
  ul.dropdown a:hover {
    border-top-color: #111133 !important;
    border-left-color: #111133;
    background-color: #6b8e23;
    color: #fff8dc; }
  ul.dropdown a:active {
    background: #f0e68c url(../images/nav-sub-press.png) 0 0 repeat-x !important;
    color: #fff8dc; }
  ul.dropdown a, ul.dropdown span {
    display: block;
    padding: 5px 20px; }
  ul.dropdown *.dir {
    /* POI */
    padding: 5px 20px; }

.inquiries .field input {
  border: 1px solid #696969;
  margin-left: 0px; }
.inquiries textarea {
  border: 1px solid #696969;
  margin-left: 0px;
  width: 475px; }

#galleries, ul#galleries {
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  list-style: none inside; }
  #galleries a, ul#galleries a {
    font-size: 1.6em; }

#body_content_right #galleries, #body_content_right ul#galleries {
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  list-style: none inside; }
  #body_content_right #galleries a, #body_content_right ul#galleries a {
    font-size: 1.1em; }

#gallery_display, ul#gallery_display {
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  list-style: none; }

.thumbnails ul, .thumbnails li {
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  list-style: none inside; }
.thumbnails dl {
  float: left;
  text-align: center;
  font-size: small; }
.thumbnails dt, .thumbnails dd {
  width: 120px;
  float: left; }
.thumbnails dt {
  margin-bottom: 4em; }
.thumbnails dd {
  text-align: center;
  margin: 105px 0 0 -120px; }
.thumbnails img {
  vertical-align: bottom;
  border: 0; }

section:first-child {
  margin-top: 10px; }

article {
  padding: 0;
  margin-top: 10px; }
  article header {
    margin-bottom: 15px;
    padding: 0;
    border-bottom: 1px solid #bbbbbb; }
    article header h1, article header h3 {
      margin: 0;
      padding: 0;
      font-size: 1.6em;
      line-height: 1.5em; }
      article header h1 a, article header h3 a {
        text-decoration: none; }
    article header details {
      margin: 0;
      margin-top: 1.5em;
      padding: 0;
      font-size: 0.7em;
      font-style: normal;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
      article header details share {
        margin-top: -5px;
        float: right; }

#comments p {
  font-size: 0.9em;
  font-style: italic; }
#comments h2 {
  font-size: 1.2em; }
#comments article header {
  margin-bottom: 0.5em; }
  #comments article header details {
    margin-top: 0em; }

.clearfix:after {
  content: "&nbsp";
  margin-bottom: 0px;
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.inquiries, .comment_submission {
  margin: 0 auto;
  width: 90%; }

fieldset.modal-fieldset {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #dcdcdc;
  background: #eee8aa; }
fieldset.wizard-fieldset {
  margin: 0.5em 0;
  border: none;
  background: #6b8e23; }
fieldset h3 {
  font-weight: normal;
  font-size: 1.2em;
  color: #6b8e23;
  text-transform: uppercase; }

.basic-form form {
  margin: 0;
  padding: 0;
  float: none;
  display: block; }
.basic-form label {
  color: #6b8e23;
  font-size: 0.7em;
  font-weight: normal;
  text-transform: uppercase;
  display: block; }
  .basic-form label:hover {
    background: #eee8aa;
    cursor: help; }
.basic-form br {
  display: none; }
.basic-form input, .basic-form textarea {
  margin: 0px 0 0.5em 0;
  display: block;
  line-height: 1.5em;
  width: 98%;
  border: solid 1px #dcdcdc;
  font-size: medium;
  font-weight: normal;
  color: #6b8e23; }
.basic-form input:hover {
  background: #eee8aa; }
.basic-form p {
  padding: 0;
  font-style: italic;
  font-size: small;
  float: right;
  color: #6b8e23; }
.basic-form a {
  display: inline;
  font-size: small; }

.modal-form a {
  padding: 0; }
.modal-form h3 {
  line-height: 2em; }

.nonmodal-form a {
  padding: 0; }
.nonmodal-form h3 {
  line-height: 2em; }

.form-lines label {
  display: inline-block;
  width: 20em;
  padding-right: 1em; }
.form-lines input {
  display: inline;
  font-size: 0.8em;
  line-height: 1em;
  width: auto; }
.form-lines br {
  display: block; }

.no-width label {
  width: auto; }

input.submit {
  display: block;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-size: small;
  text-transform: uppercase;
  width: auto;
  margin-left: 60px;
  margin-top: 10px;
  padding: 5px 15px;
  color: #eee8aa;
  background-image: -moz-linear-gradient(bottom, #003300, #003300, #003300, #6b8e23 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #003300), color-stop(0.3, #003300), color-stop(0.6, #003300), color-stop(1, #6b8e23)  );
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
input.modal-submit {
  margin-left: 80px;
  margin-top: 10px;
  padding: 5px 15px;
  color: #eee8aa;
  background-image: -moz-linear-gradient(bottom, #003300, #003300, #003300, #6b8e23 );
  background-image: -webkit-gradient(linear,left bottom, left top, color-stop(0, #003300), color-stop(0.3, #003300), color-stop(0.6, #003300), color-stop(1, #6b8e23)  );
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
input.submit-rightmost {
  margin-left: auto;
  margin-right: 0px; }
input.submit:hover {
  color: #6b8e23;
  background: #6b8e23; }

input[type="hidden"] {
  display: none; }

#lefthand-fields {
  width: 48%;
  float: left; }

#righthand-fields {
  width: 48%;
  float: right; }

.sidebar_box {
  line-height: 1.4em; }
  .sidebar_box li {
    margin-left: 12px;
    line-height: 1.4em; }

img.image-align-left {
  float: left;
  padding: 0 1em 1em 0; }

img.image-align-right {
  float: right;
  padding: 0 0 1em 1em; }

#body_content_right p {
  line-height: 1.4em; }
#body_content_right ul {
  margin-bottom: 1.6em; }
#body_content_right li {
  margin-left: 12px;
  line-height: 1.4em;
  list-style: inside; }

#body_content_left p {
  line-height: 1.6em; }

#page_image_gallery ul#gallery, #page_image_gallery ul {
  margin: 0;
  padding: 0; }
#page_image_gallery li {
  float: left;
  list-style: none;
  position: relative; }
#page_image_gallery #gallery {
  margin: 0;
  padding: 0; }
