-# Gardenia: replaced almost all the ruby code by moving it to application_helper.rb
-# prepare_content_page sets instance variables: @sections, @class_list
  
- prepare_content_page(show_empty_sections ||= false, remove_automatic_sections ||= false, hide_sections ||= [])

#body_content{ :class => @class_list }
  - @sections.each do |s|
    = s[:html].to_s      # = s[:html].to_s.html_safe
= render :partial => '/shared/draft_page_message' unless @page.nil? or @page.live?
